<h2>Criar Conta</h2>
<form method = "post">
    <input type="text" name="email"/>
    <input type="password" name="senha"/>
    <input type="text" name="cpf"/>
    <input type="text" name="telefone">
    <input type="text" name="rua"/>
    <input type="text" name="num"/>
    <input type="text" name="complemento">
    <input type="text" name="cidade">
    <input type="text" name="estado">
    <input type="text" name="cep"/>
    <input type="submit" name="acao" value="criar conta"/>
</form>